.logo{
    width: 100%;
}

.search-icon{
    vertical-align: middle;
    position: relative;
    width: 1.5%;
    left: -15.5%;
}

.navButton:hover{
    background-color: rgb(224, 224, 224);
}

.navButton{
    position: relative;
    width: 5rem;
    border:none;
    border-radius: 25px;
    background-color: inherit;
}


#create-button{
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
    color: black;
    text-decoration: none;
    display: flex;
    left: -10%;
    padding-right: 1vw;
}

#login-button{
    background-color: #008AD8;
    color: white;
    font-size: 15px;
    padding: .5%;
    font-weight: bolder;
    left: -5%;
}

#homeLink{
    display: block;
    width: 100%;
}

.logo-button{
    width: 100%;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

#login-button:hover {
    background-color: #19ABFF; 
  }

  #create{
    font-size: .8rem;
  }

.plus-icon{
    margin-bottom: auto;
    margin-top: auto;
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
}

.navbar-logo{
    width: 10rem;
}

#navbar-search-field{
    padding: 1% 1% 1% 4%;
    position: relative;
    left: 30%;
    border-radius: 25px;
    width: 42%;
    border: none;
    background-color: rgb(224, 224, 224);
}
.profileItem{
    background-color: inherit;
    border: none;
    position:relative;
    left: -14%;
     width: fit-content;
}

.profileItem:hover{
    cursor: pointer;
}

#profile {
    position: relative;
    width: 3rem;
    border-radius: 50%;
}

.bar{
width: 100%
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding:  .5%;
    background-color: #fff;
  }

  hr{
    width: 100%;
    margin: 0%;
    border-top-color: black;
  }

  .container{
    margin-bottom: 1%;
  }