.logo{
    display: inline ;
    padding: 5px;
    border-radius: 50%;
    width: 15%;
}

.search-icon{
    width: 5%;
    display: inline;
}

#navbar-search-field{
    display: inline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 12px;
    margin-bottom: 8px;
    background-color: #fff;
  }