.userProfile {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #c6d6dc;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.editProfileButton {
    float: left;
    text-align: center;
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 3px;
    border-radius: 3.5px;
=======
>>>>>>> Stashed changes
    padding: 8px 16px;
    margin: 8px;
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
<<<<<<< Updated upstream
=======
>>>>>>> 0f565a770deb682ea297610ac50250b118075385
>>>>>>> Stashed changes
}

.editProfileButton:hover {
    background-color: blue;
    border: 3.5px;
}

.shareProfileButton {
    text-align: center;
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 3px;
    border-radius: 3.5px;
=======
>>>>>>> Stashed changes
    padding: 8px 16px;
    margin: 8px;
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
<<<<<<< Updated upstream
=======
>>>>>>> 0f565a770deb682ea297610ac50250b118075385
>>>>>>> Stashed changes
}

.shareProfileButton:hover {
    background-color: blue;
    border: 3.5px;
}

.profileInfo {
    display: grid;
    align-items: center;
    position: absolute;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.profileHeader {
<<<<<<< Updated upstream
    /*display: block;*/
=======
<<<<<<< HEAD
    display: flex;
=======
    /*display: block;*/
>>>>>>> 0f565a770deb682ea297610ac50250b118075385
>>>>>>> Stashed changes
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 15px 30px;       /*top right bottom left*/
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
    font: Verdana;
    border-radius: 10px 10px 10px 10px;
=======
>>>>>>> Stashed changes
    background-color: #3d58a0;
    color: #fff;
    font-family: Arial, sans-serif;
    height: 200px;
>>>>>>> 0f565a770deb682ea297610ac50250b118075385
}

.profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
<<<<<<< Updated upstream
    position: sticky;
    transition: transform 0.3s ease;
=======
<<<<<<< HEAD
=======
    position: sticky;
    transition: transform 0.3s ease;
>>>>>>> 0f565a770deb682ea297610ac50250b118075385
>>>>>>> Stashed changes
}

.profilePicture:hover {
    box-shadow: 0 0 2px 1px rgb(192, 80, 32);
    opacity: 0.8;
}

.userDetails {
<<<<<<< Updated upstream
    /*display: grid;
    word-wrap: break-word;*/
    font-size: 16px;
=======
<<<<<<< HEAD
    display: grid;
    word-wrap: break-word;
    margin-top: 20px;
=======
    /*display: grid;
    word-wrap: break-word;*/
    font-size: 16px;
>>>>>>> 0f565a770deb682ea297610ac50250b118075385
>>>>>>> Stashed changes
}

.Posts {
    display: grid;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 6%;
    padding-top: 1%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 40px solid #f7f6f6;
    outline: 1px solid darkgray;
}

.createPostButton {
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    margin-bottom: 10px;
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 3px;
    border-radius: 3.5px;
    cursor: pointer;
}

.createPostButton:hover {
    background-color: blue;
    border: 3.5px;
}