.userProfile {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #c6d6dc;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.editProfileButton {
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editProfileButton:hover {
    background-color: blue;
    border: 3.5px;
}

.shareProfileButton {
    text-align: center;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shareProfileButton:hover {
    background-color: blue;
    border: 3.5px;
}

/*
.profileInfo {
    display: grid;
    align-items: center;
    position: absolute;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}*/

.profileHeader {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;       /*top right bottom left*/
    background-color: #94b0b8;
    font-family: Arial, sans-serif;
    border-radius: 10px 10px 10px 10px;
}

.profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.profilePicture:hover {
    box-shadow: 0 0 2px 1px rgb(192, 80, 32);
    opacity: 0.8;
}

.userDetails {
    margin-top: 20px;
    font-size: 16px;
}

.Posts {
    display: grid;
    padding: 10px 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    outline: 1px solid rgb(66, 62, 62);
    border-radius: 10px 10px 10px 10px;
}

.createPostButton {
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createPostButton:hover {
    background-color: blue;
    border: 3.5px;
}