.userProfile {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #c6d6dc;
    border-radius: 5px;    
    border: 2px outset lightgray;
    opacity: 0.8;
}

.profileHeader {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 25px 50px 25px 50px;       /*top right bottom left*/
    height: 350px;
    width: 50%;
    font: Verdana;
}

.editProfileButton {
    float: left;
    text-align: center;
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 2px;
    border-radius: 3.5px;
}

.editProfileButton:hover {
    background-color: rgb(69, 33, 154);
    border: 2.5px;
}

.profileInfo {
    display: flexbox;
    align-items: center;
}

.profilePicture {
    width: 100px;
    height: 100px;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0.5px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.profilePicture:hover {
    box-shadow: 0 0 2px 1px rgb(192, 80, 32);
    opacity: 0.8;
}

.userDetails {
    display: block;
    word-wrap: break-word;
}

.Posts {
    display: grid;
    padding-bottom: 6%;
    padding-top: 1%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 40px solid #f7f6f6;
    outline: 1px solid darkgray;
}

.shareProfileButton {
    background-color: rgb(32, 42, 192);
    color: #cbd0d4;
    border: 2px;
    border-radius: 3.5px;
}

.shareProfileButton:hover {
    background-color: blue;
    border: 2.5px;
}